
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista pizze</h1>
                <div>
                    <input id="input_search" type="text" class="form-control" placeholder="Cerca per titolo..." />
                </div>
            </div>
        </div>
    </div>
    <div id="spinner-loader" class="d-flex justify-content-center">
        <div class="spinner-border mt-5" role="status">
            <img style="width:50px;" src="https://1.bp.blogspot.com/-CAroinPVLPw/X9GYFpVZ4DI/AAAAAAABcs8/EVBG1MUGq9wj56i-HKNzi5JHpDaERVlxwCNcBGAsYHQ/s509/food_pizza_whole.png" class="sr-only" />
        </div>
    </div>
    <div id="js_no_pizza" ="row  text-center d-none">
        <div class="col-12">
            <h3>Non hai inserito alcun post</h3>
        </div>
    </div>
    <div id="js_pizza_table" class="row  d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

            load();

        document.getElementById('input_search').addEventListener('keyup', search);

        function search() {
            let stringaDiRicerca = document.getElementById('input_search').value;
            load(stringaDiRicerca);
        }

        function load(searchString) {

            axios.get('/api/pizzas', {
                params: {
                    search: searchString
                }
            }
            ).then((res) => {

                console.log('risultato ok');
                console.log(res);



                if (res.data.length > 0) {
                    document.getElementById('js_pizza_table').classList.remove('d-none');
                    document.getElementById('js_no_pizza').classList.add('d-none');

                    document.getElementById('js_pizza_table').innerHTML = '';

                    res.data.forEach(pizza => {

                        console.log('Pizza: ', pizza);

                        document.getElementById('js_pizza_table').innerHTML +=
                            `
                                    <div class="col-12 col-md-4 p-2 ">
                                                <div class="card post h-100 bg-transparent">
                                        <a href="/Home/Details/${pizza.id}" >
                                            <img src="${pizza.image}" class="card-img-top" alt="...">
                                            <div class="card-body bg-transparent">
                                                <h5 class="card-title">${pizza.title}</h5>
                                                <p class="card-text">${pizza.description}</p>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                    `;
                    });

                } else {

                    document.getElementById('js_no_pizza').classList.remove('d-none');
                    document.getElementById('js_pizza_table').classList.add('d-none');


                }

                document.getElementById('spinner-loader').classList.add('d-none');
            }).catch((error) => {
                console.log(error);
            });

        }

    </script>

}